<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      th:with="metaTitle='게시판'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Board preview-->
                <div id="board_list">
                    <div class="board-preview">
                        <a href="post.html">
                            <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2021
                        </p>
                    </div>


                    <!-- Divider-->
                    <hr class="my-4"/>
                </div>

                <!-- Pager-->
<!--                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/boards">Older-->
<!--                    Posts-->
<!--                    →</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</th:block>
<!-- //content -->

<!-- script -->
<!--<th:block layout:fragment="custom_js">-->
<!--    <script th:src="@{/assets/views/board/view.js}"></script>-->
<!--</th:block>-->
<!-- //script -->

</body>
</html>