{{>base/baseHeader}}
<script>
    function onUpdate(id) {
        let title = $('#titleInput').val();
        let content = $('#contentArea').val();
        let author = $('#authorInput').val();

        data = {"title": title, "content": content, "author": author};

        $.ajax({
            type: "PUT",
            url: `/api/boards/${id}`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                window.location.replace('/boards');
            }
        })
    }


    function onSave() {
        let title = $('#titleInput').val();
        let content = $('#contentArea').val();
        let author = $('#authorInput').val();

        data = {"title": title, "content": content, "author": author};

        $.ajax({
            type: "POST",
            url: "/api/boards",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                window.location.replace('/boards');
            }
        })
    }
</script>
<!--<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>-->
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 mb-3 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!--            <form id="form" name="form" action="/api/boards", method="post", enctype="multipart/form-data">-->

            {{#board}}
                <div class="row mb-3">
                    <div class="col-9">
                        <label for="titleInput" class="form-label">제목</label>
                        <input type="text" class="form-control" id="titleInput" name="titleInput" placeholder=""
                               value="{{board.title}}">
                    </div>
                    <div class="col-3 ml-2 float-md-end">
                        <label for="authorInput" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="authorInput" name="authorInput" placeholder=""
                               value="{{board.author}}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="contentArea" class="form-label">내용</label>
                    <textarea class="form-control" id="contentArea" name="contentArea"
                              rows="3">{{board.content}}</textarea>
                </div>
                <div style="float: right">
                    <a type="button" class="btn btn-primary m-2" href="/boards">취소</a>
                    <button type="submit" class="btn btn-primary m-2" onclick="onUpdate({{board.id}})">저장</button>
                </div>
            {{/board}}
            {{^board}}
                <div class="row mb-3">
                    <div class="col-9">
                        <label for="titleInput" class="form-label">제목</label>
                        <input type="text" class="form-control" id="titleInput" name="titleInput" placeholder="">
                    </div>
                    <div class="col-3 ml-2 float-md-end">
                        <label for="authorInput" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="authorInput" name="authorInput" placeholder="">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="contentArea" class="form-label">내용</label>
                    <textarea class="form-control" id="contentArea" name="contentArea" rows="3"></textarea>
                </div>
                <div style="float: right">
                    <a type="button" class="btn btn-primary m-2" href="/boards">취소</a>
                    <button type="submit" class="btn btn-primary m-2" onclick="onSave()">저장</button>
                </div>
            {{/board}}
            <!--            </form>-->
        </div>
    </div>
</div>
<!--<script src="/js/ckeditor.js"></script>-->
{{>base/baseFooter}}